/*Style for the navbar*/

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/*body of the page*/
body{
    /* font-family: montserrat; */
    font-family: 'Poppins',sans-serif;
}

/*Layout of the navbar*/
nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
}

/*design of the label logo*/
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover{
    background: #1b9bff;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
} /*This will remove the checkout icon that was next to the logo*/

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    a:hover, a.active{
        background: none;
        color: #0082e6;
    }

    #check:checked ~ ul{
        left: 0;
    }
}

section{
    /*Remeber to add '/' before static, for it to link to the image*/
    background: url('/static/image/bg1.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 80px);
}

/*This is for the text on the background image*/
.text-box{
    color: #fff;
    position: absolute;
    bottom: 8%;
    margin-top: 5%;
    margin-left: 5%;
}


.text-box h1{
    font-size: 170px;
    line-height: 160px;
    margin-left: 10px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(/static/image/light_blue_stripes_6.jpg);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

@keyframes back{
    100%{
        background-position: 1000px 0;
    }
}

.text-box p{
    font-size: 50px;
    font-weight: 600;
    margin-left: 10px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(/static/image/light_blue_stripes_5.jpg);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back2 20s linear infinite;
}

@keyframes back2{
    100%{
        background-position: 2000px 0;
    }
}

/*slide animation for text*/
.slide-left{
    animation: slideleft 1s linear forwards;
}

@keyframes slideleft{
    0%{
        transform: translate(100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}

/*This is for the seller and buyer boxes*/
.container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    opacity: 0; /*I added this for it not to show in few seconds, for 
    animation purposes.*/
}

.container2 .box{
    position: relative;
    width: 350px;
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    margin-left: 180px;
    margin-right: 150px;
}

.container2 .box:before{
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.2);
    z-index: 2;
    pointer-events: none;
}

.container2 .box .icon{
    position: relative;
    width: 80px;
    height: 80px;
    color: #fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 30px;
    font-weight: 700;
    transition: 1s;
}

/*--SELL*/
.container2 .box:nth-child(1) .icon{
    box-shadow: 0 0 0 0 #e91e63;
    background: #e91e63;
}


.container2 .box:nth-child(1):hover .icon{
    box-shadow: 0 0 0 400px #e91e63;
    background: #e91e63;
}

/*--BUY*/
.container2 .box:nth-child(2) .icon{
    box-shadow: 0 0 0 0 #23e629;
    background: #23e629;
}


.container2 .box:nth-child(2):hover .icon{
    box-shadow: 0 0 0 400px #23e629;
    background: #23e629;
}


.container2 .box .content{
    position: relative;
    z-index: 1;
    transition: 0.5s;
}

.container2 .box:hover .content{
    color: #fff;
}

.container2 .box .content h3{
    font-size: 20px;
    margin: 10px 0;
    padding: 0;
}

.container2 .box .content p{
    margin: 0;
    padding: 0;
}

.container2 .box .content a{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 30px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.container2.slide-left{
    animation-delay: 1.3s;
}

/*Footer (last section of the page)*/
.footer{
    margin-top: 150px;
    width: 100%;
    padding: 100px 15%;
    background: #333;
    color: #efefef;
    display: flex;
}

.footer div{
    text-align: center;
}

.col-2{
    flex-grow: 2;
}

.footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.col-1 a{
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;
}

form input{
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}

form button{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}


.col-2 p{
    margin-top: 60px;
    margin-bottom: 10px;
}

.col-2 a{
    color: #fff;
    text-decoration: none;
}

.social-icons{
    margin-top: 30px;
}

.social-icons i{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}