<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "{{ url_for('static', filename='css/buy.css') }}" type= "text/css" rel= "stylesheet"> <!--Link to buy.css file-->
    <title>E-Commerce | BUY </title>
    <link rel="icon" href="/static/image/icons-ecommerce.png" type="image/x-icon"> <!--add icon link. This icon will show next to Title 
    of the page-->
</head>
<body>
    <!--This is the buy page info that will be displayed to the user-->

    <!--Section 1-->
    <div class="container">
        <h1><span class="auto-type">BUY</span></h1>
    </div>



    <!--Text Animation link-->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="/static/js/buy.js"></script>
</body>
</html>