<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "{{ url_for('static', filename='css/buy.css') }}" type= "text/css" rel= "stylesheet"> <!--Link to buy.css file-->
    <title>E-Commerce | BUY </title>
    <link rel="icon" href="/static/image/icons-ecommerce.png" type="image/x-icon"> <!--add icon link. This icon will show next to Title 
    of the page-->
</head>
<body>
    <!--This is the buy page info that will be displayed to the user-->

    <!--Section 1-->
    <div class="container">
        <h1><span class="auto-type">BUY</span></h1>
    </div>


    <!--Section 2-->
    <div style="background: rgb(223, 229, 165);" class="hero">
        <button class="btn" id="btn">Click Here!
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>


    <!--Section 3-->
    <div class="container2">
        <h2>Select any of the Following Items</h2>
        <div class="price-row">
            <div class="price-col"> <!--First column-->
                <p>Clothes</p>
                <h3>Starts from £/$10</h3>
                <ul>
                    <li>T-shirts</li>
                    <li>Dress</li>
                    <li>Trousers</li>
                    <li>Blazers</li>
                    <li>Shoes</li>
                    <li>Bags</li>
                </ul>
                <button>Shop for Clothes</button>
            </div>

            <div class="price-col"> <!--Second column-->
                <p>Technology (refurbished)</p>
                <h3>Starts from £/$120</h3>
                <ul>
                    <li>Laptop</li>
                    <li>Desktop</li>
                    <li>Smartphone</li>
                    <li>Home-Tech</li>
                    <li>AR/VR Headset</li>
                    <li>General</li>
                </ul>
                <button>Shop for Tech</button>
            </div>

            <div class="price-col"> <!--Third column-->
                <p>Books </p>
                <h3>Starts from £/$30</h3>
                <ul>
                    <li>Romance</li>
                    <li>Science-Fi</li>
                    <li>Thriller</li>
                    <li>School-books</li>
                    <li>Novel</li>
                    <li>Fantasy</li>
                </ul>
                <button>Shop for Books</button>
            </div>
        </div>
    </div>

    <!--Text Animation link-->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="/static/js/buy.js"></script>
</body>
</html>