<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--From
        https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_navbar_icon-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet"> <!--For social media icons-->
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet"> <!--Box icons for chatbox-->
    <link rel="stylesheet" href="/static/css/modal.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="icon" href="/static/image/icons-ecommerce.png" type="image/x-icon"> <!--add icon link. This icon will show next to Title 
    of the page-->
</head>
<body>
    <div class="popup-screen">
        <div class="popup-box">
            <img src="/static/image/icons-ecommerce.png">
            <i class="fas fa-times close-btn"></i>
            <h2>Register to get started today</h2>
            <p>
                Create an account using any 
                of these platforms. <br> Register with Email &#9993;
            </p>
            <!-- <a href="#" class="btn">Register -->
                <a href="#" class="btn field facebook">
                    <i class="bx bxl-facebook facebook-icon"></i>
                    <span>Sign Up with Facebook</span>
                </a>
                <a href="#" class="btn field google">
                    <i class='bx bxl-google google-icon'></i>
                    <span>Sign Up with Google</span>
                </a>
                <a href="#" class="btn field apple">
                    <i class='bx bxl-apple apple-icon'></i>
                    <span>Sign Up with Apple</span>
                </a>
            <!-- </a> -->
        </div>
    </div>

    <script src="/static/js/modal.js"></script>
</body>
</html>