<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--From
        https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_navbar_icon-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet"> <!--For social media icons-->
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet"> <!--Box icons for chatbox-->
    <link href= "{{ url_for('static', filename='css/modal.css') }}" type= "text/css" rel= "stylesheet"> <!--Link to modal.css file-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="icon" href="/static/image/icons-ecommerce.png" type="image/x-icon"> <!--add icon link. This icon will show next to Title 
    of the page-->
</head>
<body>
    <div class="container">
        <div class="form-box">
            <h1 id="title">Sign Up</h1>
            <form>
                <div class="input-group">
                    <div class="input-field" id="nameField">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" placeholder="Name">
                    </div>

                    <div class="input-field">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" placeholder="Email">
                    </div>

                    <div class="input-field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" placeholder="Password">
                    </div>

                    <p>Forgot password? <a href="#">Click Here</a></p>
                </div>

                <div class="btn-field">
                    <button type="button" id="signupBtn">Sign up</button>
                    <button type="button" id="loginBtn" class="disable"><a href="home2.html">Login</a></button>
                    <!--In this second button, what is going to happen is that once the user clicks around the blue area of the login button,
                        it will show the Login page. And, how I also did it for it to go to a new page is to allow
                        the user to type in in the fields, once it is filled, click on the Login link (the underline will be removed though) in the button
                        (make sure to hover to see the url link) and it will open a new page-->
                </div>
            </form>
        </div>
    </div>

    <script src="/static/js/modal.js"></script>
</body>
</html>