<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "{{ url_for('static', filename='css/sell.css') }}" type= "text/css" rel= "stylesheet"> <!--Link to sell.css file-->
    <title>E-Commerce | SELL </title>
    <link rel="icon" href="/static/image/icons-ecommerce.png" type="image/x-icon"> <!--add icon link. This icon will show next to Title 
    of the page-->
</head>
<body>
    {% block content %}
    <!--This is the sell page info that will be displayed to the user-->

    <!--Section 1-->
    <!--Section 1-->
    <div class="container">
        <h1><span class="auto-type">SELL</span></h1>
    </div>

    <!--Section 2-->
    <div class="hero">
        <div class="title">
            <h1>TRENDING DEALS</h1>
            <div class="back-text">
                <span>O</span>
                <span>F</span>
                <span>F</span>
                <span>E</span>
                <span>R</span>
            </div>
        </div>
    </div>

    <!--Section 3-->
    <div>
        <section class="hidden">
            <h1 style="color: black;">1. Select The Type of Item</h1>
            <p>Choose from a list of three major category items such as clothes, tech and more</p>
            <img src="/static/image/hand_cursor.jpg">
        </section>
    
        <section class="hidden">
            <h1 style="color: rgb(0, 162, 255);">2. Confirm You are the one Selling it &#128274;</h1>
            <p>You will receive an verification code to ensure it is you selling.</p>
            <p style="font-size: 100px;">&#128241; &rarr; *****</p>
        </section>
    
        <section class="hidden">
            <h1 style="color: rgb(42, 39, 39);">3. Upload Item... <br>and you are Good To Go! &#128513;</h1>
            <p>And tadaaaa! You are ready to go</p>
        </section>
    </div>


    <!--Section 4-->
    <div class="btn-field">
        <button type="button" id="signupBtn">More info</button>
        <button type="button" id="signupBtn">Start</button>
    </div>

    <!--Text Animation link-->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="/static/js/sell.js"></script>
{% endblock content %}
</body>
</html>